body {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mapid {
    height: 100vh; 
    width: 95%; 
    z-index: 0;
    transition: width 1s ease;
}
.short {
    width: 50% !important;
}

.main_container {
    min-height: 100vh;
    max-height: 100%;
    width: 5%;
    z-index: 100;
    background-color: #004262;
    transition: width 1s ease;
    box-shadow: 8px 4px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 8px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 4px 10px 0px rgba(0,0,0,0.5);
}

.open {
    width: 50%;
}

/* Flèche pour ouvrir ou fermer le dépliant */
.gauche_link {
    height: 100vh;
    position: absolute;
    color: #fff;
    display: block;    
    text-decoration: none;
    left: 4%;
    transition: left 1s ease;
}
.gauche-open {
    left: 49.2%;
}
.arrow {
    cursor: pointer;
    height: 180px;
    left: 100%;
    position: absolute;
    top: 50%;
    transform: translateX(0%) translateY(-50%);
    width: 40px;
    background-color: #004262;
    z-index: 100;
    border-radius: 30px;
    box-shadow: 15px 4px 10px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 15px 4px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 15px 4px 10px 0px rgba(0,0,0,0.4);
}


.arrow-top,
.arrow-bottom {
    background-color: #fff;
    height: 2px;
    left: -20px;
    position: absolute;
    top: 50%;
    width: 120%;
}

.arrow-top {
    transform: rotate(75deg);
    transform-origin: bottom right;
}


.arrow-bottom {
    transform: rotate(-75deg);
    transform-origin: top right;
}

.arrow-top-open {
    transform-origin: bottom left;
    left: 15px;
}
.arrow-bottom-open {
    transform-origin: top left;
    left: 15px;
}

section {
    height: 100vh;
    width: 70%;
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
section::-webkit-scrollbar {
    display: none;
}

.section-open {
    width: 95%;
    border-right: #00537B solid 25px; 
}

header {
    height: 100vh;
    width: 100%;
    background-color: #00537B;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: #fff;
    font-size: 2rem;
}

.header-open {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    height: 110px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
    width: unset;
}

.header-open h1 {
    font-size: 2.5rem;
    color: #24395D;
    writing-mode: unset;
    transform: unset;
}

.timeline {
    display: none;
    background-color: white;
    width: 80%;
    margin: 5% auto;
    padding: 2%;
    border-radius: 50px;
}

.timeline-marker {
    cursor: pointer;
    width: 25px;
    margin-left: 1%;
    margin-right: 5%;
}

.blue-line {
    background-color: #24395D;
    height: 2px;
    width: 95%;
    margin: auto;
}

.card {
    display: none;
    width: 80%;
    margin: 5% auto;
    padding: 2%;
    border-radius: 50px;
    min-height: 1900px;
    background-color: white;
}

.-open {
    display: block;
}