@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff2) format("woff2"),
            url(../fonts/Montserrat-Regular.woff) format("woff");
}
@font-face {
    font-family: 'Montserrat SBold';
    src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2'),
            url(../fonts/Montserrat-SemiBold.woff) format('woff');
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, 'Times New Roman', Times, serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapid {
    height: 100vh; 
    width: 95%; 
    z-index: 0;
    transition: width 1s ease;
}

.short {
    width: 50% !important;
}

.main_container {
    min-height: 100vh;
    max-height: 100%;
    width: 5%;
    z-index: 100;
    background-color: #004262;
    transition: width 1s ease;
    box-shadow: 8px 4px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 8px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 4px 10px 0px rgba(0,0,0,0.5);
}

.open {
    width: 50%;
}

/* Flèche pour ouvrir ou fermer le dépliant */
.gauche_link {
    height: 100vh;
    position: absolute;
    color: #fff;
    display: block;    
    text-decoration: none;
    left: 4%;
    transition: left 1s ease;
}
.gauche-open {
    left: 49.2%;
}

.arrow {
    cursor: pointer;
    height: 180px;
    left: 100%;
    position: absolute;
    top: 50%;
    transform: translateX(0%) translateY(-50%);
    width: 40px;
    background-color: #004262;
    z-index: 100;
    border-radius: 30px;
    box-shadow: 15px 4px 10px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 15px 4px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 15px 4px 10px 0px rgba(0,0,0,0.4);
}


.arrow-top,
.arrow-bottom {
    background-color: #fff;
    height: 2px;
    left: -20px;
    position: absolute;
    top: 50%;
    width: 120%;
}

.arrow-top {
    transform: rotate(75deg);
    transform-origin: bottom right;
}


.arrow-bottom {
    transform: rotate(-75deg);
    transform-origin: top right;
}

.arrow-top-open {
    transform-origin: bottom left;
    left: 15px;
}

.arrow-bottom-open {
    transform-origin: top left;
    left: 15px;
}

section {
    height: 100vh;
    width: 70%;
}

.section-open {
    width: 95%;
    border-right: #00537B solid 25px; 
}

header {
    height: 100vh;
    width: 110%;
    background-color: #00537B;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1s ease;
}

header h1 {
    writing-mode: vertical-lr;
    text-align: center;
    transform: rotate(180deg);
    color: #fff;
    font-size: 1.8rem;
    font-family: Montserrat SBold;
    cursor: pointer;
}

header .img-header {
    display: none;
    cursor: pointer;
}

.header-open {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    height: 110px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
    width: unset;
}

.header-open h1 {
    font-size: 2.2rem;
    color: #24395D;
    writing-mode: unset;
    transform: unset;
    margin: 0 2.5%;
    font-family: Montserrat SBold;
}

.header-open .img-header {
    width: 40%;
    margin-left: 20%;
}

.timeline {
    display: flex;
    background-color: white;/* 
    width: 1500px; */
    padding: 2%;
    border-radius: 50px;
    width: 95%;
    overflow-x: scroll;
    margin: 0 auto;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.timeline::-webkit-scrollbar {
    display: none;
}

.overflow-tl {
    display: none;
    margin: 5% auto;
    width: 80%;
    position: relative;
}

.marker {
    margin-left: 10px;
    margin-right: 40px;
    display: block;
}

.timeline-marker {
    cursor: pointer;
    width: 25px;
}

.blue-line {
    background-color: #24395D;
    height: 2px;
    width: 95%;
    left: 20px;
    position: absolute;
    bottom: 12px;
}

.overflow-cards {
    display: none;
    height: 65%;
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-cards::-webkit-scrollbar {
    display: none;
}

.card, .card-intro, .card-about {
    display: none;
    width: 80%;
    margin: 5% auto;
    margin-top: 0;
    border-radius: 50px;
    min-height: 800px;
    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
}

.buttons, .button-start {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}

.etape-prev, .etape-suiv, .etape-start {
    display: none;
    background-color: #fff;
    padding: 3% 4%;
    color: #004262;
    font-size: 1.5rem;
    border-radius: 50px;
    margin: 0 5%;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
}

.introduction {
    display: none;
    height: 80%;
    margin-top: 5%;
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.introduction::-webkit-scrollbar {
    display: none;
}

.about {
    display: none;
    margin-top: 5%;
}

.card-intro, .card-about {
    min-height: 50%;
}

.-open {
    display: block !important;
}

.vignette {
    background-color: #004262;
    color: #FFF;
    margin: 0 auto;
    height: 80px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 10%;
    text-shadow: 2px 2px 5px #0e0e0e;
    background-size: 170px; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.popup-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.date {
    margin: 10% 0 5% 0 !important;
    font-size: 1rem;
    text-align: center;
}

.more {
    margin: 5% 0 10% 0 !important;
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}

.leaflet-popup-content-wrapper {
    padding: 0;
}

.leaflet-popup-content {
    margin: 0;
    width: 150px;
}

.card-minia {
    width: 98%;
    border-radius: 50px;
    border: solid #00537B 8px;
    z-index: 0;
}
.card-header {
    height: 520px;
}

.card-title {
    position: relative;
    top: -28vh;
    margin: 0;
    text-align: center;
    z-index: 10;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 5px #0e0e0e;
}

.content {
    padding: 4%;
}

.card-content {
    padding: 0 4% 4% 4%;
}

.title-about, .title-intro {
    text-align: center;
    color: #004262;
    font-size: 2rem;
}

.leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-bar a {
    background-color: #004262;
    color: white;
    border: none;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
}

.leaflet-bar a:hover {
    color: #004262;
}

.leaflet-touch .leaflet-bar a:first-child {
    border-radius: 15px;
    margin-bottom: 10px;
}

.leaflet-touch .leaflet-bar a:last-child {
    border-radius: 15px;
}

.subtitle-doc {
    color: gray;
    font-size: .8rem;
    font-weight: normal;
}

.subtitle-doc a {
    color: gray;
    font-weight: normal;
}

.img-doc img {
    display: block;
    margin: 10% auto;
}

.hidden-doc {
    max-height: 0px;
    overflow: hidden;
    transition: all ease .5s;
}

.doc-open {
    max-height: 1000px;
}

.title-doc {
    font-weight: unset;
}

.title-doc span:first-child {
    font-size: 1.5rem;
    font-family: Montserrat SBold,'Times New Roman', Times, serif;
    color: #004262;
}

.title-doc:hover {
    font-weight: 600;
    cursor: pointer;
}

.title-doc-clicked {
    font-weight: 600;
}
.title-doc a {
    color: unset;

}

.rotate-span {
    display: inline-block;
    transform: rotate(90deg);
}
span img {
    width: 16px;
    margin: 0 8px;
}

.slideLeft {
    position: absolute;
    font-family: Montserrat SBold,'Times New Roman', Times, serif;
    top: 15%;
    font-size: 1.5rem;
    left: -10%;
    background-color: white;
    color: #004262;
    border-radius: 50px;
    padding: 2% 3%;
    cursor: pointer;
    
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
}
.slideRight {
    position: absolute;
    font-family: Montserrat SBold,'Times New Roman', Times, serif;
    font-size: 1.5rem;
    top: 15%;
    right: -10%;
    background-color: white;
    color: #004262;
    border-radius: 50px;
    padding: 2% 3%;
    cursor: pointer;
    
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
}

.loader {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #00537B;
    position: absolute;
    z-index: 1000;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    border: 4px solid #a5a5a5; /* Light grey */
    border-top: 4px solid #004262; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.load-open {
    display: none;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}
.description-content {
    width: 80%;
    text-align: center;
}
.etape {
    display: inline;
}

.texte {
    display: none;
    position: absolute;
    left:47.5%;
    height: 88.5%;
    width: 5px;
    background-color: #00537B;
    justify-content: center;
    transition: all 1s ease;
}
.text-open1 {
    display: flex;
}
.text-open2 {
    left: 0%;
    width: 47.5%;
}

.overflow-texte {
    display: none;
    height: 70vh;
    width: 80%;
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    background-color: white;
    border-radius: 40px;
    padding: 2%;
    margin-top: 7%;
}

.text-click {
    text-align: center;
}